<?xml version="1.0" encoding="UTF-8"?>

<!--refer to EMV_v4.3_Book_3-->
<TERMINALCONFIGURATION>
	<MerchantID>PAXTestMerchant</MerchantID>><!--tag 9F16, Merchant Identifier-->
	<MerchantCategoryCode>0840</MerchantCategoryCode><!--tag 9F15, Merchant Category Code-->
	<MerchantNameAndLocation>PAX-APP,ShenZhen</MerchantNameAndLocation><!--tag 9F4E, Merchant Name and Location-->
	<TerminalCountryCode>0840</TerminalCountryCode><!--tag 9F1A, Terminal Country Code-->
	<TerminalCurrencySymbol>$</TerminalCurrencySymbol><!--The Symbol show before amount, sucha as: $1234.-->
	<TransactionReferenceCurrencyCode>0840</TransactionReferenceCurrencyCode><!--tag 9F3C, Transaction Reference Currency Code-->
	<TransactionReferenceCurrencyExponent>2</TransactionReferenceCurrencyExponent><!--tag 9F3D, Transaction Reference Currency Exponent-->
	<ConversionRatio>1</ConversionRatio><!--Transaction Reference Currency Conversion-->	
</TERMINALCONFIGURATION>	
	


