<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paguelofacil.posfacil">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.pax.permission.ICC" />
    <uses-permission android:name="com.pax.permission.PICC" />
    <uses-permission android:name="com.pax.permission.MAGCARD" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${build_prefix}${marca_prefix}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.view.home.activities.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.settings.activities.AjustesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.transactions.TransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.settings.activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.transactions.payment.activities.MovementsFilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.transactions.payment.activities.CobroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.home.activities.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.view.account.activities.LoginActivity"
            android:exported="false"

            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".pax.DetectedCardActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.view.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>